.el {
  &-box {
    border-radius: 0.5rem;
    border: 1px solid $color-grey;
    background-color: $color-white;
  }

  &-box-grey {
    border-radius: 0.5rem;
    border: 1px solid $color-grey-light;
    background-color: $color-grey-light;
  }

  &-image {
    display: block;
    border-radius: 0.5rem;
    object-fit: cover;
    cursor: pointer;

    &--s {
      height: 4rem;
      width: 4rem;
    }

    &--m {
      height: 8rem;
      width: 8rem;
    }

    &--l {
      height: 12rem;
      width: 12rem;
    }
  }

  &--clickable {
    cursor: pointer;
    &:hover {
      background-color: rgba($color-primary-0, 0.1);
    }
  }
}
