h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 400;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.color-invert {
  color: $color-white;
}
