// color scheme

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(149, 165, 166);
$color-grey-light: rgb(236, 240, 241);
$color-grey-dark: rgb(127, 140, 141);

$color-primary-0: rgb(52, 152, 219);
$color-primary-1: rgb(41, 128, 185);

$color-red-0: rgb(231,76,60);
$color-red-1: rgb(192,57,43);

// box-shadows

$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);
